<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>
      Your name: 
      "<%= `${currentPlayer.name}` %>"
    </h1>
    <h1>
      <%= `${currentPlayer.name}` %>'s choice:
      "<%= `${playerSelection}` %>"
    </h1>
    <h1>
      Pc's choice:
      "<%= `${currentPlayer.pcChoice}` %>"
    </h1>
    <h1>
      Winner is:
      "<%= `${winner}`%>"
    </h1>
    <h1>
      Player's health is now:
      "<%= `${health}`%>"
    </h1>
    
    <a id="turn-link"href="/game">next round - return to game page</a><br/><br/>    
    <a id="turn-link" href="/">restart - return to index page</a>
  </body>
</html>